html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-image: url('~static/images/bg.png');
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

/* Spacing */

.post {
  h1,
  h3,
  h4,
  h5,
  blockquote,
  p {
    margin-bottom: 20px;
  }
  .post-body {
    ol,
    pre {
      margin-bottom: 20px;
    }
  }
}

/* 字体 */
@font-face {
  font-family: 'Fira Code';
  src: url("~static/fonts/firacode/woff/FiraCode-Retina.woff2") format("woff2"),
      url("~static/fonts/firacode/woff/FiraCode-Retina.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html, body {
  font-family: 'Fira Code';
  height: 100%;
  line-height: 1
}

/* Base */

html,
body {
  height: 100%;
}

body {
  color: #666;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #222;
  font-weight: bold;
}

h2 {
  font: italic 19px/1.3em 'Fira Code';
  color: #bbb;
}

/*Accent color*/

a,
.title,
.post-list a:hover,
.title:hover {
  text-decoration: none;
  color: #5694f1;
}

p a {
  color: #5694f1;
}

/*Transitions*/

a,
.post-nav a,
.post-list a {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-position: outside;
}

ol,
ul {
  li {
    list-style-type: none;
  }
}


/* Line Height */

.post-body {
  p > a {
    word-break: break-word;
    white-space: pre-wrap;
  }
}

p {
  line-height: 1.7;
}

b,
strong {
  font-weight: 500;
  color: #1E2025;
}

em,
i {
  font-style: italic;
}

.home {
  h1 {
    font-size: 30px;
    letter-spacing: -1px;
    color: #222;
    font-weight: bold;
  }

  h2 {
    font: italic 19px/1.3em "Fira Code";
    color: #bbb;
  }
}

.post {
  max-width: 700px;
  padding: 0 40px 20px 40px;
  margin: auto;
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font: 300 24px/1.5 "Fira Code";
    color: #111;
  }  
}

h3,
h4,
h5 {
  color: #333;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

h5 {
  font-size: 15px;
  font-weight: bold;
}

h6 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 6px;
}

p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  text-align: center;
  margin-top: 20px;
}

code {
  display: block;
  overflow-x: auto;
  padding: 0.5em 0.8em;
  background: #f8f8f8;
  font-size: 80%;
}

blockquote {
  padding: 0.5em 0.8em;
  border-left: 0.25em solid #dfe2e5;
  background: #f8f8f8;
  font-size: 90%;
  p {
    margin-bottom: 0px !important;
  }
}

blockquote, 
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px
}

.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

@media screen and (max-width:540px) {
  .footer {
    margin-top: 60px !important;
  }

  .home {
    padding: 0 20px 20px 20px !important;
  }

  .dates {
    display: none !important;
  }

  .post {
    padding: 0 20px 20px 20px !important;

    h1 {
      font-size: 24px !important;
    }
  }

  .search {
    padding: 0 20px 20px 20px !important;
  }

  .about {
    padding: 0 20px 20px 20px !important;
  }

  .comment {
    padding: 40px 20px 20px 20px !important;
  }
}

@media(max-width:700px) {
  nav.main-nav {
    padding: 20px 10px 0 0 !important;
  }

  nav.main-nav a {
    padding: 8px 8px !important;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}